NEXT_PUBLIC_SUPABASE_URL=https://zxmkyuoigbxaplydvcbu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inp4bWt5dW9pZ2J4YXBseWR2Y2J1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxNTY4NDcsImV4cCI6MjA4OTczMjg0N30.YA4j9JdDxkqvNNifJD0bkr10SIVivJPJ8l4vBi1MHnM
